<!doctype html>
<html>

<head>
    <title>User Persistance Layer</title>
    <link rel="stylesheet" type="text/css" href="index.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
</head>

<body ng-app="UserApp">
    <h1> User Data </h1>
    <div ng-controller="UserController">
        <div>
            <div>
                <form ng-submit="addUser(email, forename, surname)">
                    Email:
                    <input type="text" ng-model="email" placeholder="Email" value="email"/> Forename:
                    <input type="text" ng-model="forename" placeholder="Forename" /> Surname:
                    <input type="text" ng-model="surname" placeholder="Surname" />
                    <input type="submit" id="submit" value="Add New User" class="styled-text" />
                </form>
                <div class="between-space"></div>
                <table>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Email</th>
                        <th>Forename</th>
                        <th>Surname</th>
                        <!-- <th>CREATED</th> -->
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                    <tr ng-repeat="user in users | orderBy:'-date'">
                        <!-- <td>{{user._id}}</td> -->
                        <td><span class="styled-text" id='{{user.email}}'>{{user.email}}</span></td>
                        <td><span class="styled-text" id='{{user.forename}}'>{{user.forename}}</span></td>
                        <td><span class="styled-text" id='{{user.surname}}'>{{user.surname}}</span></td>
                        <!-- <td>{{user.date}}</td> -->
                        <td>
                            <button class="styled-text" ng-click="deleteUser(user)" id='{{user.email}}delete'>Delete</button>
                        </td>
                        <td>
                            <button class="styled-text" ng-click="open()" ng-show="!showModal" id='{{user.email}}edit'>Edit</button>
                            <div modal="showModal" ng-show="showModal" close="cancel()">
                                <span class="modal-header">
                                    <h4>Edit User Data</h4>
                                    <span class="styled-text">Email</span>: <input type="text" ng-model="emailid" placeholder="Email" class="styled-text" value="email"/>
                                    <span class="styled-text">Forename</span>: <input type="text" ng-model="new_forename" placeholder="Forename" class="styled-text"/>
                                    <span class="styled-text">Surname</span>: <input type="text" ng-model="new_surname" placeholder="Surname" class="styled-text"/>
                                </span>
                                <span class="modal-footer">
                                    <button class="btn btn-success" ng-click="ok(emailid, new_forename, new_surname, user._id)" class="styled-text">Okay</button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
</body>

</html>