<!doctype html>
<html>

<head>
    <title>User Persistance Layer</title>
    <link rel="stylesheet" type="text/css" href="index.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
</head>

<body ng-app="UserApp">
    <h1> User Data </h1>
    <div ng-controller="UserController">
        <div>
            <div>
                <form ng-submit="addUser(email, forename, surname)">
                    Email: <input type="text" ng-model="email" placeholder="Email" />
                    Forename: <input type="text" ng-model="forename" placeholder="Forename" />
                    Surname: <input type="text" ng-model="surname" placeholder="Surname" />
                    <input type="submit" id="submit" value="Add New User" class="styled-text"/>
                </form>
                <div class="between-space"></div>
                <table>
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Email</th>
                        <th>Forename</th>
                        <th>Surname</th>
                        <!-- <th>CREATED</th> -->
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                    <tr ng-repeat="user in users | orderBy:'-date'">
                        <!-- <td>{{user._id}}</td> -->
                        <td ><span class="styled-text">{{user.email}}</span></td>
                        <td ><span class="styled-text">{{user.forename}}</span></td>
                        <td ><span class="styled-text">{{user.surname}}</span></td>
                        <!-- <td>{{user.date}}</td> -->
                        <td>
                            <button class="styled-text" ng-click="deleteUser(user)">Delete</button>
                        </td>
                        <td>
                            <button class="styled-text">Edit</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
</body>

</html>