table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.between-space {
	margin-bottom: 10px;
	margin-top: 10px;
}

body {
	font-family: Monospace;
}

.styled-text {
	font-family: monospace;
}